<footer >
  <div class="icons-container">
   <a href=""><img src="/Icons/facebook.png" alt="fb"></a>
   <a href="https://whathsapp.com/channel/0029Vag15l9MF8wGuzenz31"><img src="/Icons/whatsapp.png" alt="wh"></a>
   <a href="mailto:infyacad@gmail.com"><img src="/Icons/gmail.png" alt="gmail"></a>
   <a href="https://t.me/infyAcad"><img src="/Icons/telegram.png" alt="tel"></a>
  </div>
  <hr>
  <!--<div class="terms">
   <span>Terms of Service |</span>
   <span> Privacy Policy </span>
  </div>-->
  <div class="rights">
   <p>&copy; <span id="year"></span> Infinity Learning Academy. All rights reserved. 2024</p>
  </div>
 </footer>