<footer >
  <div class="icons-container">
   <a href=""><img src="/Icons/facebook.png" alt="fb"></a>
   <a href=""><img src="/Icons/twitter.png" alt="fb"></a>
   <a href=""><img src="/Icons/gmail.png" alt="fb"></a>
   <a href=""><img src="/Icons/telegram.png" alt="fb"></a>
  </div>
  <hr>
  <div class="terms">
   <span>Terms of Service |</span>
   <span> Privacy Policy </span>
  </div>
  <div class="rights">
   <p>&copy; <span id="year"></span> All rights reserved. 2024</p>
  </div>
 </footer>