
    <header>
        <div class="header_container">
            <div class="logo_container">
                <a href="/home/"><h1 class="logo"><span style="color: #3a86ff;">Res</span><span>Wab</span></h1></a>
            </div>
           
                <div class="nav_container">
                    <nav class="nav_bar">
                        <ul>
                           <li><a href="###">Researchers</a></li> 
                           <li><a href="/courses/">Courses</a></li> 
                           <li><a href="###">Meets</a></li>
                           <li><a href="/projects/">Projects</a></li> 
                           <li><a href="###">Events</a></li> 
                           <li><a href="###">About us</a></li>
                        </ul>
                    </nav>
                </div>
           
            <div class="auth_btn_container">
               <!-- <a href="/login" class="auth_btn sign_in">Sign in</a>
                <a href="reg.html" class="auth_btn sign_up">Sign up</a>-->
                <a href="/profile/"><img src="/Icons/facebook.png" alt="profile" class="profile-image"></a>
                <img src="/Icons/logout.png" alt="profile" class="logout-image" id="logoutBtn" onclick="signOutUser()">
            </div>

            <div class="search_bar_container">
                <div class="icon_container"><img src="/Icons/search.png" alt="menu" class="ic_search icon"></div>
                <input type="search" class="search_bar" placeholder="Search with courses, researcher or research...">
                <div class="icon_container"><img src="/Icons/menu.png" alt="menu" class="ic_menu icon"></div>
            </div>
        </div>
    </header>
