

:root{
--border: 1px solid black;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none; 
    padding: 0px;
    width: 90%;  
}
.list li{
    width: 45%;
    padding: 10px;
    margin: 20px;
}
.course-snippet{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: rgba(68, 74, 87, 0.05) 0px 2px 6px 0px, rgba(68, 74, 87, 0.1) 0px 1px 3px 0px;
    border-radius: 5px;
    padding: 10px 20px;
}


/* === title === */
.course-snippet .title{
    display: flex;
    flex-direction: row;
}

/* === meat-data === */
.meta-data{
    margin-bottom: 10px;
    font-size: 14;
    font-weight: 500;
}
.meta-data span{
    font-size: medium;
    color: rgb(1, 182, 31);
   
}

/* === description === */
.description{
    overflow: hidden;
}

/* === deadline === */
.deadline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
    
}

.deadline a{
    display: block;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(68, 74, 87, 0.15) 0px 4px 12px 0px, rgba(68, 74, 87, 0.25) 0px 1px 3px 0px;
    height: 36px;
    line-height: 36px;
    font-weight: 500;
    background-color: rgb(49, 61, 62);
    color: rgb(255, 255, 255);
    padding: 0px 20px;
    font-size: 14px;
    text-decoration: none;
}
.deadline a:hover{
    cursor: pointer;
    background-color: rgb(0, 150, 25);
}
