@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body{
    height: 2000px;
}
#header{
    position: static;
}
.header_container{
    width: 100%;
    height: 150px;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 50%);
    transition: height 0.3s ease, grid-template-rows 0.5s ease;
    background-color: white;
    z-index: 1000;
}
.header_container div{
    
}
.auth_btn_container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* AUTH BUTTON*/ 
.auth_btn_container a{
    font-variation-settings: "wght" 600;
    font-family: "Raleway", sans-serif;
    margin: 0 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight:700;
    line-height: 30px;
}
.auth_btn_container .sign_up{
    padding:0px 8px;
    background-color: #0066ff;
    color: white;
    border-radius: 8px;
}
.auth_btn_container .sign_up:hover{
    background-color: #0457d4;
}

.auth_btn_container .sign_in{
    border: none;
    color: black;
    background-color: white;
}
.auth_btn_container .profile-image{
    width: 40px;
    background-color: black;
    border-radius: 50%;
    
    height: auto;
}
.auth_btn_container .logout-image{
    width: 24px;
    margin-left: 30px;
    margin-bottom: 3px;
}
.auth_btn_container .logout-image:hover{
    cursor: pointer;
}


/* NAV BAR */
.nav_container{
    display: flex;
    justify-content: center;
    align-items: center;
   
    grid-column: 2/8;
}
.nav_bar{
    display: flex;
}
.nav_bar ul{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style-type: none;
    font-variation-settings: "wght" 600;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight:700;
}
.nav_bar ul li{
    margin: 0 10px;
   
}
.nav_bar ul li a{
    text-decoration: none;
    color: black;
    
}
.nav_bar ul li a:hover{
    color: #68a1f7;
}
.nav_bar ul li .devider{
    
    padding:10px 0 ;
    border-right: rgba(128, 128, 128, 0.404) 1px solid ;
}
/* LOGO */
.logo_container{
    display: flex;
    align-items: center;
    padding: 0 5px;
}
.logo_container a{
    text-decoration: none;
}
/* SEARCH BAR */
.search_bar_container{
    display: grid;
    border-top: rgba(128, 128, 128, 0.404) 1px solid ;
    border-bottom: rgba(128, 128, 128, 0.404) 1px solid ;
   
    grid-template-columns: 5% 90% 5%;
    grid-row: 2/-1;
    grid-column: 1/-1;
}
.search_bar{
    width: 100%;
    border: none;
    height: 100%;
    font-size: 16px;
}
.search_bar::placeholder{
    color: rgba(128, 128, 128, 0.822);
}
.search_bar:focus{
    outline: none;
}
.logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.icon_container{
    display: flex;
    justify-content: center;
    align-items: center; 

}
.icon{
    max-width: 50%;
    max-height: 30px;
    
}
.ic_menu{
    width: 20px;
    height: 24px;   
}
.ic_menu:hover{
 
    filter: invert(31%) sepia(43%) saturate(5165%) hue-rotate(224deg) brightness(100%) contrast(88%);
}



/* ==== Scrolled ==== */

.scrolled .header_container{
height: 80px;
grid-template-rows: 1fr;
background-color: rgb(43, 43, 43);

}
.scrolled .logo_container{

}
.scrolled .nav_container{
    width: fit-content;
    justify-content: center;
    grid-column: 4/8;
}
.scrolled .nav_container .nav_bar ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.scrolled .nav_container .nav_bar ul li a{
    color: white;
}
.scrolled .auth_btn_container{

}
.scrolled .search_bar_container{
    display: grid;
    justify-content: center;
    align-items: center;
    border: none;
    grid-column: 2/4;
    grid-row: 1/-1;
    height: 100%;
    width: 100%;
}
.scrolled .search_bar_container .icon_container .icon{
   display: none;
}
.scrolled .search_bar_container .icon_container{
    width: 0%;
}
.scrolled .search_bar_container .search_bar{
    border: rgba(39, 39, 39, 0.404) 1px solid ;
    padding: 8px;
    border-radius: 16px;
    font-size: 12;
    width: 100%;
    height: 40%;
}
.scrolled .auth_btn_container{
    justify-content: center;
}