
:root{
    --border:1px black solid;
}
.space{
    height: 150px;
}
.profile-container{
   margin-top: 40px;
   margin-bottom: 40px;
    padding: 10px;
    width:80% ;
}

/*===== META DATA CONTAINER =====*/
.meta-data-container{

    display: grid;
    grid-template-columns:  100px auto auto; 
   
}
.meta-data-container div{

}
.meta-data-container .image{
text-align: center;
width: fit-content;

}

.meta-data-container .edit-image{
direction: rtl;
}
.meta-data-container .edit-image img{
    width: 24px;
}
.meta-data-container .edit-image img:hover{
cursor: pointer;
}
.meta-data-container img:hover{
    cursor: pointer;
    }
.meta-data-container .name{
line-height: 80px;
}
.meta-data-container .name h2{
    display: inline-block;
}
.meta-data-container .name span{
    font-size: medium;
}

.profile-container img{
    width: 90px;
    display: inline-block;
    margin-top: 20px;    
}

.profile-container .name{
    display: inline-block;
    margin: 10px;
    font-family: arial, sans-serif;
}
.profile-container .state{
    color: rgb(0, 201, 27);
    font-family: arial, sans-serif;
}

/*===== DETAILS CONTAINER =====*/
.details-container{
  
    border-radius: 14px;
    height:fit-content;
    padding: 10px;
    text-align: center;
}
.details-container h3{
    font-family: Arial, Helvetica, sans-serif;
}
.details-container .personal-details{
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 0 26px #6b6ec646;
    height: 240px;
    display: inline-block;
    width: 45%;
    font-family: "rubik";
    font-weight: 600;
    padding: 10px;
    margin: 10px;
}
.details-container .personal-details ul{
    list-style-type: none;
}
.details-container .personal-details ul li span{
    color: #797979;
}
.details-container  li{
    margin: 12px;
    font-family: system-ui;
}
.details-container .academic-details{
    text-align: left;

    border-radius: 10px;
    box-shadow: 0 0 26px #6b6ec646;
    height: 240px;
    display: inline-block;
    width: 45%;
    font-family: "rubik";
    font-weight: 600;
    padding: 10px;
    margin: 10px;
}
.details-container .academic-details ul{
    list-style-type: none;
}



/* ==== Edit pop-up ==== */

.edit-container{
    display: none;
    background-color: rgba(0, 0, 0, 0.26);
    
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
}
.edit-container .edit-content{
    background-color: white;
    display: grid;
    grid-template-rows: 30% 50% 20%;
    border-radius: 16px;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: none;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 500px; /* Max width for the content */
    box-shadow: 0 0 26px #6b6ec646;
    height: 400px;
}
.edit-content #image-con{
    display: grid;
    align-items: center;
}
.edit-content #edit-image {
    width: 20%;
}
.edit-content #details{
 
   
}
.edit-content label{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}
.edit-content #details div{
    margin: 10px 0px;
   
    height: 40px;
}
.edit-content #details input{
height: 50%;
border-radius: 8px;
width: 50%;
border: 1px solid black;
padding-left: 4px;
font-family: Arial, Helvetica, sans-serif;
}
.edit-content div{
    margin-left: 5%;
}

.edit-content #edit-button{
    margin-top: 20px;
}
.edit-content #edit-button button{
    width: 20%;
    
    border: none;
    border-radius: 10px;
    padding: 5px;
    background-color: #0681e6;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.edit-content #edit-button button:hover{
    cursor: pointer;
    background-color: #0278d8;
}
.edit-content #button{
    display: grid;
    align-items: center;
    
}
.edit-content #button button{
    width: 20%;
    margin-left: 10%;
    border: none;
    border-radius: 8px;
    padding: 5px;
    background-color: #0074d3;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.edit-content #button button:hover{
    background-color: #0162b3 ;
}

/* === Show === 
.add-show-image{  
    border-radius: 16px;
    box-shadow: 0 0 26px #6b6ec646;
    background-color: white;
    width: 200px;
    padding: 16px;
    position: fixed;
    top: 50%;
    left: 10%;
    direction: rtl;
    display: none;
}
.add-show-image img{
    width: 24px;
    display: block;   
}
.add-show-image img:hover{
    cursor: pointer;
}
.add-show-image button{ 
    padding:8px 16px ;
    border:none;
    border-radius: 16px;
    box-shadow: 0 0 26px #6b6ec63a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin: 10px;
}
.add-show-image button:hover{
    cursor: pointer;
}
.add-show-image .show-btn{
    background-color: #2e94e7;
    color: white;
}*/