
:root{
    --border:none;
}

div{
   border: var(--border);
}

.main-container{
background-color: rgb(239, 240, 244);
font-family: system-ui, -apple-system, BlinkMacSystemFont, 
"Segoe UI", Roboto, Helvetica, Arial, sans-serif,
"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
padding: 0px 20px;
height: fit-content;
padding: 5px 20px;
display: flex;
flex-direction: column;
align-items: center;
}

.inner-container{
height: fit-content;
width: 90%;
padding: 5px;
display: flex;
flex-direction: row;
}
.inner-container div p{
    margin-left: 10px;
}
.personal-info{
    padding: 20px 50px;
    margin-left: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(68, 74, 87, 0.05) 0px 2px 6px 0px, rgba(68, 74, 87, 0.1) 0px 1px 3px 0px;
}
#name{
    display: inline;
    margin-left: 20px;
}
#editBtn{
    width: 20px;
}
#editBtn:hover{
    cursor: pointer;
    width: 22px;
}
.personal-info-image{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.personal-info-image img{
    width: 100px;
    border-radius: 50%;
   
}
#user-image{
    background-color: #161616e8;
    
}
.personal-info-details{

}

.personal-info-details-inner{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}
.personal-info-details-inner-right p{
    color: rgb(114, 114, 114);
    font-weight: 500;
    line-height: 16px;
}
.personal-info-details-inner-left p{
    color: rgb(0, 0, 0);
    font-weight: 500;
    line-height: 16px;
}
.academic-info{
    margin-left: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(68, 74, 87, 0.05) 0px 2px 6px 0px, rgba(68, 74, 87, 0.1) 0px 1px 3px 0px;
}
.academic-info div{
    width: 100%;
    height: 100%;
}

ul{
    list-style-type: none;
}

ul li{
    margin: 5px 0px;

}
ul li a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.achivments{
    height: fit-content;
    padding: 0px 50px;
    margin: 0px 100px;
    width: 82%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(68, 74, 87, 0.05) 0px 2px 6px 0px, rgba(68, 74, 87, 0.1) 0px 1px 3px 0px;
}

/* ==== Edit pop-up ==== */

.edit-container{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
     "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: none;
    background-color: rgba(0, 0, 0, 0.26);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
}

.edit-container div{
   
}
.edit-container .edit-content{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: none;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 500px; /* Max width for the content */
    box-shadow: 0 0 26px #6b6ec646;
    height: 400px;
}
.edit-content #image-con{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.edit-content #edit-image {
    width: 20%;
    border-radius:50% ;
}
.edit-content #details{
 display: flex;
 flex-direction: column;
 
 margin-top: 20px;
   
}
.edit-content #details div{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    height: fit-content;
}
.edit-content label{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

.edit-content #details input{
height: 50%;
border-radius: 5px;
border: none;
background-color:rgb(221, 221, 221);
width: 50%;
font-size: 14px;
padding: 5px 4px;
font-family: Arial, Helvetica, sans-serif;
}
.edit-content #details input:focus{
    outline: none;
}
.edit-content div{
    margin-left: 5%;
}

.edit-content #edit-button{
    margin-top: 20px;
}
.edit-content #edit-button button{
    border: 0px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: rgba(68, 74, 87, 0.15) 0px 4px 12px 0px, rgba(68, 74, 87, 0.25) 0px 1px 3px 0px;
    height: 36px;
    line-height: 36px;
    font-weight: 500;
    background-color: rgb(49, 61, 62);
    color: rgb(255, 255, 255);
    padding: 0px 20px;
    font-size: 14px;
    text-decoration: none;
}
.edit-content #edit-button button:hover{
    background-color: rgb(34, 42, 43);
}
#pick-btn{
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: rgba(68, 74, 87, 0.15) 0px 4px 12px 0px, rgba(68, 74, 87, 0.25) 0px 1px 3px 0px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
    background-color: rgb(61, 61, 61);
    color: rgb(255, 255, 255);
    font-size: 14px;
    
}
.edit-content #button{
    display: grid;
    align-items: center;
    
}
.edit-content #button button{
    width: 20%;
    margin-left: 10%;
    border: none;
    border-radius: 8px;
    padding: 5px;
    background-color: #0074d3;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.edit-content #button button:hover{
    background-color: #0162b3 ;
}

/* === Show === 

.add-show-image{  
    border-radius: 16px;
    box-shadow: 0 0 26px #6b6ec646;
    background-color: white;
    width: 200px;
    padding: 16px;
    position: fixed;
    top: 50%;
    left: 10%;
    direction: rtl;
    display: none;
}
.add-show-image img{
    width: 24px;
    display: block;   
}
.add-show-image img:hover{
    cursor: pointer;
}
.add-show-image button{ 
    padding:8px 16px ;
    border:none;
    border-radius: 16px;
    box-shadow: 0 0 26px #6b6ec63a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin: 10px;
}
.add-show-image button:hover{
    cursor: pointer;
}
.add-show-image .show-btn{
    background-color: #2e94e7;
    color: white;
}*/


.profile-image-set{
    display: flex;
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 5%;
    left: 50%;
    padding: 10px;
    max-width: 200px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 26px #6b6ec646;
    z-index: 1100;
}
.profile-image-set-inner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.profile-image-set-inner div{
    padding: 4px;
    margin: 5px;
}
.profile-image-set-inner div img{
    width: 40px;
}
.profile-image-set-inner div img:hover{
    cursor: pointer;
}
.close-set-image-container{

}
.close-set-image-container img{
    width: 20px;
}
.close-set-image-container img:hover{
    cursor: pointer;
}