body {
       
    font-family: Arial, sans-serif;
    background-color: #f0f0f0af;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.strict{
    color: rgba(255, 0, 0, 0.897);
}
.container {
    width: 60%; 
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px ;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 26px #6b6ec646;
    height: fit-content;
}

.container .title{
    grid-row: 1/2;
    grid-column: 1/-1;
    display: flex;
    margin-bottom: 2%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.container .details{
    
    padding: 5px 50px;
    
}

.container label{
    display: inline-block;
    font-weight: 500;
    margin-left: 2px;
    margin-bottom: 8px;
}
.container input{
width: 90%;
border-radius: 5px;
border: 1px solid #ccc;
padding-left: 4px;
padding: 10px;
border-radius: 5px;
font-size: 16px;
font-style: normal;

}
.container .details select{
    border-radius: 12px;
    border: 1px solid #ccc;
    width: 90%;
    border-radius: 5px;
    padding: 10px 0px;
    background-color: #fdfdfd00;
    margin-top: 10px;
}
.container .details select:focus{
    outline: none;
}
.container input:focus{
    outline: none;
}

.container .btn{
    padding: 3% 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.container .btn button{
        width: 70%;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        padding: 3% ;
        color: white;
        font-weight: bold;
}
.container .btn button:hover{
    background-color: #0056b3;
    cursor: pointer;
}

.have-account{
    padding: 6% 16%;
    font-weight: 500;
}
.have-account a{
    text-decoration: none;
}


/*MOBILE STYLE*/
/*MOBILE STYLE*/
@media (max-width: 480px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 5% 0%;
        font-size: 14px;
    }
    .container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        padding:5% 10%;
        background-color: white;
        border-radius: 8px;
        height: fit-content;
        box-shadow: 0 0 26px #6b6ec646;
        width: 70%;  
    }
    .container .title{
        display: flex;
        margin-bottom: 5%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .container .details{
        padding: 5% 0px;
        
    }
    .container label{
        display: inline-block;
        font-weight: 500;
        margin-left: 2px;
        margin-bottom: 8px;
    }
    .container input{
        width: 93%;
        padding: 10px;
        border-radius: 5px;
        padding-left: 4px;
        margin: 0;
        font-size: 14px;
    }
    .container .details select{
        width: 90%;
        border-radius: 5px;
        padding: 10px 0px;
        background-color: #fdfdfd00;
    }
    .container .btn{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8% 0px;
        
    }
    .container .btn button{
        width: 60%;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        padding: 5% ;
        color: white;
        font-weight: bold;
    }
    .have-account{
        padding:0px;
        font-weight: 500;
    }
}