---
layout: base.njk
title: Abou Us
css: /css/about.css
---

<div style="height: 150px;"></div>
<div class="container">
    <div class="definition">
        <div class="title"><h2>Who we are</h2></div>
        <div class="content"><p>
            Infinity Learning Academy is dedicated to breaking down barriers to advanced
            surgical education and scientific research, especially for young scientists in low-
            income countries. We provide an inclusive environment where aspiring medical
            professionals, regardless of background, can access cutting-edge knowledge and
            skills. Our mission is to nurture a new generation of surgeons and researchers
            equipped to tackle global health challenges, particularly in underserved
            communities. Through partnerships and a commitment to excellence, we aim to
            elevate healthcare standards and contribute to a more equitable global health
            landscape.
        </p></div>
    </div>
    <div class="definition">
        <div class="title"><h2>Our vision</h2></div>
        <div class="content"><p>
            Our vision is to empower the future of surgery and scientific research by building
            a global network of innovators focused on advancing young scientists, especially
            in low-income countries. We aim to elevate surgical standards and foster
            scientific excellence through rigorous training and research. By ensuring equitable
            access to advanced medical knowledge, we strive to improve healthcare systems
            and enhance quality of life worldwide.
        </p></div>
    </div>
    <div class="definition">
        <div class="title"><h2>Our mission</h2></div>
        <div class="content"><p>
            Infinity Learning Academy is committed to empowering future surgeons and
            researchers by offering accessible, high-quality education. We focus on
            advancing surgical skills and scientific research, particularly in low-income
            countries, through innovative training and a collaborative approach. Our mission
            is to nurture talent and drive progress in healthcare by providing the necessary
            resources and knowledge to the next generation
        </p></div>
    </div>

<div class="goals">
    <div class="title"><h2>Our goals</h2></div>
    <div class="content">
        <ul>
            <li><img src="/Icons/cube.png" alt="">
                Enhance Surgical Skills: Equip medical professionals, especially from low-
                income regions, with advanced surgical techniques to excel in clinical and
                academic settings.
            </li>
            <li><img src="/Icons/cube.png" alt="">
                Promote High-Impact Research: Support the creation of research that
                addresses global health challenges and contributes to scientific
                knowledge.
            </li>
            <li><img src="/Icons/cube.png" alt="">
                Empower Future Leaders: Foster leadership in surgery and research
                through mentorship, training, and career development opportunities.
            </li>
            <li><img src="/Icons/cube.png" alt="">
                Reduce Health Disparities: Improve global health equity by providing
                resources and education to underserved communities, aiming to enhance
                health outcomes.
            </li>
        </ul>
    </div>
</div>
<div class="activity">
    <div class="title"><h2>Our Activities</h2></div>
    <div class="content">
        <ul>
            <li>
                <span>Surgical Training:</span> Implement tailored programs focused on essential
                surgical techniques and the latest advancements.
            </li>
            <li>
                <span>Research Workshops:</span> Conduct hands-on sessions covering study design,
                data analysis, and ethical research practices.
            </li>
            <li>
                <span>Mentorship Initiatives:</span> Pair aspiring surgeons and researchers with
                experienced professionals for career guidance.
            </li>
            <li>
                <span>Publication Support:</span> Offer resources and guidance for publishing research
                in peer-reviewed journals.
            </li>
            <li>
                <span>Global Health Outreach:</span> Support surgical training and healthcare
                education in low-income countries.
            </li>
            <li>
                <span>International Collaboration:</span> Partner with global institutions for knowledge
                exchange and innovative surgical practices.
            </li>
        </ul>
    </div>
</div>
<h2 class="our-team-title">Our team</h2>
<div class="team-container">
    <div class="member">
        <img src="/Icons/user.png" alt="">
        <h3 class="position">CEO</h3>
        <h3 class="name">Mohamed Adam</h3>
        <p><span>Faculty of medicine ASU</span></p>
    </div>
    <div class="member">
        <img src="/Icons/user.png" alt="">
        <h3 class="position">COO</h3>
        <h3 class="name">Neima Mohammed</h3>
        <p>Medical student, BNU</p>
    </div>
    <div class="member">
        <img src="/Icons/user.png" alt="">
        <h3 class="position">CMEO</h3>
        <h3 class="name">Nissreen Mergany</h3>
        <p>BDS, MSc, MHPE</p>
    </div>
    <div class="member">
        <img src="/Icons/user.png" alt="">
        <h3 class="position">CTO</h3>
        <h3 class="name">Ahmed Malik</h3>
        <p>University of people</p>
    </div>
    <div class="member">
        <img src="/Icons/user.png" alt="">
        <h3 class="position">CRO</h3>
        <h3 class="name">Rabia Shebran</h3>
        <p>###</p>
    </div>
    <div class="member">
            <img src="/Icons/user.png" alt="">
            <h3 class="position">CDO</h3>
            <h3 class="name">Anas Adam</h3>
            <p><span>Pharmacy _OIU</span></p>
    </div>
    <div class="member">
        <img src="/Icons/user.png" alt="">
        <h3 class="position">###</h3>
        <h3 class="name">Hassan Saif</h3>
        <p><span>###</span></p>
</div>
</div>

<h2 class="our-team-title">Our Parteners</h2>
<div class="partener-container">
    <div class="logo">
        <img src="" alt="logo">
    </div>

    <div class="logo">
        <img src="" alt="logo">
    </div>

    <div class="logo">
        <img src="" alt="logo">
    </div>
</div>

</div>
<script src="/js/about.js"></script>