<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/courses.css">
    <title>Document</title>
</head>
<body>
    <div class="sidebar"></div>
 
    <div class="course-snippet">
        <div class="title">
            <div><h2 id="title">Anatome S1</h2> </div>
            <div class="course-rate" id="rate">level</div>
        </div>
        <div class="meta-data"> <p>Added <span id="date">10/02/24</span></p></div>
        <div class="description"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus laudantium numquam provident minus nam nulla esse. Dolores quos vero laudantium!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus laudantium</p></div>
        <div class="deadline"> 
            <span id="type">Neurology</span>
            <span>Lectures:<span id="lecture-coun">30</span></span>
            <button id="enroll-btn">Enroll</button>
        </div>
    </div>
</body>
</html>