---
layout: base.njk
title: Courses
css: /css/courses.css
---
<div class="space" style="height: 200px;"></div>


<div class="container">
<ul class="list" id="courses-list">
    <li>
        <div class="course-snippet">
            <div class="title"><h2 id="just">Meta </h2> </div>
            <div class="meta-data"> 
                Added <span>10/02/24</span>
            </div>
            <div class="description">
                    Lorem ipsum dolor, sit amet consectetur
                    adipisicing elit. Repellendus laudantium numquam provident minus
                    nam nulla esse. Dolores quos vero laudantium!Lorem ipsum dolor,
                    sit amet consectetur adipisicing elit. Repellendus laudantium
                </div>
            <div class="deadline"> 
                <span >entrypoint</span>
                <span>Lectures:<span> 0</span></span>
                <a style="background-color: rgba(49, 61, 62, 0.377);">Closed</a>
            </div>
        </div>
    </li>

</ul>
</div> 
<script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-auth-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-firestore-compat.js"></script>
<script src="/js/courses.js" type="module"></script>
