---
layout: base.njk
title: Events
css: /css/events.css
----
<div class="space" style="height: 200px;"></div>
    <div class="main-container">
        
        <ul id="events-list" class="events-list">
            <li>
                <div class="event-snippet">
                    <div class="event-title">
                        <h3>Official release test</h3>
                    </div>
                    <div class="event-date">
                        <p>
                            2024-10-11
                        </p>
                    </div>
                    <div class="event-content">
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis
                            quasi facere sed alias molestias voluptate commodi inventore, cupiditate
                            architecto quisquam, nisi fuga nulla autem, doloribus consequuntur ullam
                            delectus facilis magnam excepturi animi. Voluptates quidem provident quam
                            culpa saepe rem quisquam dolorem sint. Nisi fuga illo itaque voluptatum in consequatur veniam commodi
                            exercitationem voluptatem adipisci nostrum quod, inventore quaerat maiores culpa?
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-auth-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-firestore-compat.js"></script>
    <script src="/js/events.js"></script>