---
layout: base.njk
title: Events
css: /css/events.css
----
<div class="space" style="height: 200px;"></div>
    <div class="main-container">
        
        <ul id="events-list" class="events-list">
            <!--<li>
                <div class="event-snippet" id="event-snippet">
                    <img src="/Icons/event.png" class="event-image" alt="">
                </div>
            </li>-->
        </ul>
    </div>
    <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-auth-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-firestore-compat.js"></script>
    <script src="/js/events.js"></script>