<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/feedback.css">
    <title>Feedback</title>
</head>
<body>
    <header style="height: 50px;"></header>
    <div class="main-container">
        <div class="form">
            <div class="content">
                <input name="feedback" id="feedbackContent">

            </div>
        </div>
        
    </div>

    <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-auth-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-firestore-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.13/firebase-storage-compat.js"></script>
    <script src="/js/admins.js"></script>
</body>

</html>