---
layout: base.njk
title: Home
css: /css/home.css
---
<div class="space"></div>

<div class="background-container">
  <dotlottie-player src="https://lottie.host/35c69bcb-7ba8-4a1f-b076-fcf663760b55/FD2l7AVA1T.json" 
  background="transparent" speed="1" style="width: 1920; height: 1080; display: inline;" 
  direction="1" playMode="normal" loop autoplay></dotlottie-player>
</div>

<div class="who-we-container">
  <div class="who-we-title"><h3>Who we are</h3></div>
  <div class="who-we-content"><p>
    Infinity Learning Academy is dedicated to breaking down barriers to 
    advanced surgical education and scientific research, especially for 
    young scientists in low- income countries. We provide an inclusive 
    environment where aspiring medical professionals, regardless of 
    background, can access cutting-edge knowledge and skills. Our mission 
    is to nurture a new generation of surgeons and researchers equipped to 
    tackle global health challenges, particularly in underserved communities.
     Through partnerships and a commitment to excellence, we aim to elevate healthcare standards
     and contribute to a more equitable global health landscape.
  </p></div>
</div>


<div class="news-container">
  <div class="news-title">
    <h3>Waht's news</h3>
  </div>
  <div class="news-content">
    <img src="/Icons/soon.png" alt="" style="width: 200px;">
  </div>
</div>

<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
    <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
    </script>

