<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/login.css">
<title>Login Form</title>

</head>

<body>
<div class="container">
    <h2>Login</h2>

        <div class="form-group">
           <div class="label"><label>Email:</label></div>
            <input id="email" required>
        </div>
        <div class="form-group">
            <div class="label"><label>Password:</label></div>
            <input id="password" required>
        </div>
        <div class="form-group">
            <button id="submit" onclick="signIn()">Login</button>
            
        </div>
       <div class="have-account">
        <span>Haven't an account yet? </span><a href="/reg/">Sign up</a>
       </div>

</div>
</body>
<script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-auth-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-firestore-compat.js"></script>
<script src="/firebaseConfig.js"></script>
</html>
