---
layout: base.njk
title: project-snippet
css: /css/projects.css
----
<div class="space"></div>
    <div class="main-container">
        <ul>
            <li>
                <div class="project-snippet">
                    <div class="title"> <h2 id="title">Project 00 | Anatomy</h2></div>
                    <div class="image"><img src="/Icons/surgy.jpg" alt=""></div>
                    <div class="meta-data"><p>Posted on <span id="postDate">19/07/24</span> By <span id="author">DR.Hussam</span></p></div>
                    <div class="description"><p id="description">libero repellendus alias aliquid ut modi, accusantium eaque consequatur minus dolores. Repellendus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad voluptatum itaque asperiores facilis fugit eum quidem dolor voluptas libero repellendus alias aliquid ut modi, accusantium eaque consequatur minus dolores. Repellendus.
                    </p></div>
                    <div class="deadline">
                        <p>Deadline: <span id="deadlineDate">19/07/24</span></p>
                        <p class="status" id="state">Full</p>
                        <Button id="applyBtn">Apply</Button>
                    </div>
                </div>
            </li>
            <li>
                <div class="project-snippet">
                    <div class="title"> <h2 id="title">Project 01 | Farmacology</h2></div>
                    <div class="image"><img src="/Icons/research.jpg" alt=""></div>
                    <div class="meta-data"><p>Posted on <span id="postDate">10/01/24</span> By <span id="author">DR.Mohammed</span></p></div>
                    <div class="description"><p id="description">libero repellendus alias aliquid ut modi, accusantium eaque consequatur minus dolores. Repellendus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad voluptatum itaque asperiores facilis fugit eum quidem dolor voluptas libero repellendus alias aliquid ut modi, accusantium eaque consequatur minus dolores. Repellendus.
                    </p></div>
                    <div class="deadline">
                        <p>Deadline: <span id="deadlineDate">9/03/24</span></p>
                        <p class="status" id="state">12/16</p>
                        <Button id="applyBtn">Apply</Button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
