---
layout: base.njk
title: project-snippet
css: /css/projects.css
----
<div class="space"></div>
    <div class="main-container">
        
        <ul id="projects-ul">
            <li>
                <div class="project-snippet project-card" data-project-id="123">
                    <div class="title"> <h2 id="title">Test | ANA</h2></div>
                    <div class="image"><img src="/Icons/surgy.jpg" alt=""></div>
                    <div class="meta-data"><p>Posted on <span id="postDate">2024 Jul 12</span> By <span id="author">DR.Nassir </span></p></div>
                    <div class="description"><p id="description">To keep freash page</p></div>
                    <div class="deadline">
                        <p>Deadline: <span id="deadlineDate" style="color: rgb(75, 75, 75);">2025 Jul 11</span></p>
                        <p class="status" id="state">Full</p>
                        <Button class="applyBtn" onclick="apply(123)" data-status="apply">Apply</Button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-auth-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-firestore-compat.js"></script>
    <script src="/js/projects.js"></script>