---
layout: base.njk
title: Abou Us
css: /css/user.css
---

<div style="height: 200px;"></div>

<div class="main-container">
    <div class="inner-container">
        <div class="personal-info">
            <div class="personal-info-image"><img src="/Icons/user.png" alt="" id="user-image"></div>
            <div class="personal-info-details">
                <h2 id="user-name"></h2> <span id="user-level"></span>
                <div class="personal-info-details-inner">
                    <div class="personal-info-details-inner-left">
                        <p>Email</p>
                        <p>Country</p>
                        <p>Special</p>
                    </div>
                    <div class="personal-info-details-inner-right">
                        <p id="user-email"></p>
                        <p id="user-residence"></p>
                        <p id="user-special"></p>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="academic-info">
            
            <div class="academic-info-projects">
                <h3>Projects</h3>
                <ul id="project-list">
                    
                </ul>
            </div>
            <div class="academic-info-courses">
                <h3>Courses</h3>
                <ul id="courses-list">
                    
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-auth-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-firestore-compat.js"></script>
<script src="/js/user.js"></script>